@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
#green-box{
    width: 80px;
    background-color: #77BB3F;
    padding: 50px;
    margin: 20px;
}

#orange-box{
    width: 80px;
    background-color: #E63946;
    padding: 50px;
    margin: 20px;
}

#gray-box{
    width: 80px;
    background-color: #F1FAEE;
    padding: 50px;
    margin: 20px;
}

#brown-box{
    width: 80px;
    background-color: #1D3557;
    padding: 50px;
    margin: 20px;
    color: white;
}

#color-grid{
    margin-bottom: -250px;
}

#title-font{
    font-family: Vidaloka, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

#body-font{
    font-family: Inter, Arial, Helvetica, sans-serif;
}

@media (min-width: 500px) {
	#color-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 880px) {
    #color-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}