@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@media screen and (min-width: 440px) {

    h1{
        font-size: 2.5rem;
        margin: 1rem;
        text-align: center;
    }

    #grid{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    section{
        text-align: center;
    }

    #one{
        background-color: lime;
        border: 20px;
    }
    
    #two{
        background-color: aqua;
    }
    
    #three{
        background-color: magenta;
    }

    html{
        font-family: Fira Sans, Times New Roman, serif;
    }

    footer{
        text-align: center;
    }
}

