@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

header{
    background-color: #561D5E;
    border-radius: 20px;
    color: silver;
}

h1{
    text-align: center;
    align-items: center;
    margin-top: -20px;
    word-spacing: normal;
}
img {
    display: block;
    margin-left:2%;
    align-items: center;
    width: 20%;
    /* border: 20px solid silver; */
  }
html{
    font-family: Lora;
}
footer{
    background-color: silver;
    border-radius: 20px;
    text-align: center;
    color: #561D5E;
}