@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

header{
    background-color: #561D5E;
    border-radius: 20px;
    color: silver;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    display: grid;
}

h1{
    text-align: center;
    align-items: center;
    margin-top: -20px;
    word-spacing: normal;
}
img {
    display: block;
    align-items: center;
    border-radius: 20px;
    width: 100%;
  }
html{
    font-family: Lora;
}
footer{
    background-color: silver;
    border-radius: 20px;
    text-align: center;
    color: #561D5E;
}
div#content{
    max-width: 800px;
    margin: 0 auto;
}