h1, h2, p{
    text-align: center;
    color: #FFAA5A;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

section{
    border: 1px #FFAA5A;
    background-color: #56351E;
    padding: 40px;
    width: 300px;
    margin: 20px;
}
img{
    width: 100%;
}

.cards img{
    width: 75%;
}
#view{
    text-align: center;
    font-size: 3em;
}

#cards, #list{
    border: 3px solid black;
    padding: 0 8px;
    cursor: pointer;
}

table {
    width: 75%;
    margin: 50px auto;
    font-size: 1.2em;
}



tr:nth-of-type(even){
    background-color: #FFAA5A;
}
