@media screen and (min-width: 825px){
    a:first-child{
        display: none;
    }
    a{
        display:block;
        display: flex;
        
    }
    .cake-img{
        width: 80%;
    }
    .cook-img{
        width: 80%;
    }
    nav{
        flex-direction: row;
    }
    .spots-3{
        display: block;
    }
    .spot-4{
        display: block;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .navigation{
        position: relative;

    }

    #hero-msg{
        margin-top: -450px;
    }

    .hero{
        grid-column: 2/4;
        grid-row: 1/3;
        height: 100%;
    }

    .join-img{
        height: 75%;
    }

   .rabbit-img{
    width: 100%;
    height: 75%;
   }

    .cooking-utensils-img{
        display: block;
    }

    #hero{
        margin-top: 0;
    }

    .hero-box{
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #join_content{
        flex-direction: row;
        margin: 80px;
    }
    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .news-release {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        display: block;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .spot-3-text{
        display: block;
    }

}